<h1>Enter the info on the restaurant you want to add</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, as: :select, collection: ["chinese", "italian", "japanese", "french", "belgian"], prompt: "Select category" %>
  <%= f.submit "Add new restaurant", class: "brn btn-primary"%>
<% end %>
