<div class="container">
  <h1><%= @restaurant.name %></h1>

  <br>
  <h3>Description & contact info</h3>
    <div class="m-2 p-2">
      <p>Category: <%= @restaurant.category %></p>
      <p>Located at: <%= @restaurant.address %></p>
      <p>Phone number: <%=  @restaurant.phone_number%></p>
  </div>
  <br>

  <h3>Reviews</h3>
  <% @restaurant.reviews.each do |review| %>
    <div class="m-2 p-2 border">
      <p>Comment: <%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
      <p>Created on <%= review.updated_at %></p>
    </div>
  <% end %>

  <br>

  <h4>Add a review for <%= @restaurant.name %></h4>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, as: :select, collection: [0, 1, 2, 3, 4, 5], prompt: "Please select your rating from 0 (terrible) to 5 (superdupergreat)", label: "Your rating" %>
    <%= f.input :content, label: "Your feedback" %>
    <%= f.submit "Submit your review" %>
  <% end %>

  <br>
  <%= link_to "Home", restaurants_path %>
  <br>
  <br>
  <%# <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

</div>
